/* color-to-filter converter https://codepen.io/sosuke/pen/Pjoqqp */

$text-font-size: 15px;
$text-color: #333;
$text-colorizer: invert(17%) sepia(0%) saturate(0%) hue-rotate(356deg) brightness(101%) contrast(91%);
$secondary-text-color: #999;
$secondary-text-colorizer: invert(54%) sepia(57%) saturate(0%) hue-rotate(198deg) brightness(99%) contrast(101%);
$secondary-text-hover-color: #666;
$secondary-text-hover-colorizer: invert(42%) sepia(1%) saturate(220%) hue-rotate(314deg) brightness(92%) contrast(94%);
$link-color: #484747;
$link-colorizer: invert(27%) sepia(2%) saturate(0%) hue-rotate(58deg) brightness(96%) contrast(94%);
$link-hover-color: #000000;
$link-hover-colorizer: invert(0%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(96%) contrast(104%);
$error-color: #FF4D4D;

$background-color: #f3f2ed;
$btn-background-color: #CCCBC6;
$btn-background-hover-color: $text-color;
$btn-text-color: $text-color;
$btn-text-colorizer: $text-colorizer;
$btn-text-hover-color: #fff;
$btn-text-hover-colorizer: invert(99%) sepia(74%) saturate(252%) hue-rotate(137deg) brightness(116%) contrast(100%);
$btn-border-radius: 8px;
$btn-shadow: 2px 5px 10px -5px #B7B5B5;

$block-border-radius: 15px;
$block-background-color: #fff;
$separator-color: $background-color;
$shadow: 0 2px 16px -9px #C3C4C7;
